/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
   line-height: 1.5;
   background-color: #a1c3ff;
    
}
img{
    max-width: 100%;
}
h1 ,
h2{
    margin-bottom: 1.5em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    
}

/* navigation bar */
.main-nav{
    background-color: #3474e6;
    height: 6rem;
}
.logo{
   font-size: 2em;
   font-weight: 700;
   color: #fff;
}
.main-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-nav .menu-list a{
    color: #fff;
    font-size: 1.4em;
    margin-left: 1em;
    font-weight: 700;
}
.menu-list {
    display: flex;
    align-items: center;
}

/* header */
.header{
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
    
}
.header h1{
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2;
    
}
.header p{
    font-size: 1.5em;
}
.header img{
    max-width: 400px;
}
.header  .container {
    display: flex;
  align-items: center;
  justify-content: space-between;
}
/* boxes */
.boxes .container {
    display: flex;
    justify-content: space-between;
    
}
.box{
    background-color: #0151cc;
    flex: 1;
    color: #fff;
   margin: 2em;
    border-radius: 1em;
    padding: 1.5em 2em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}
.box p{
    font-size: 1.3em;
}


/* media query */


@media screen and (max-width:992px){
    .boxes .container{
        flex-direction: column;
    }
}
@media screen and (max-width:768px){
    .header .container{
        flex-direction:column-reverse;
        text-align: center;
        padding: 1em ;

    }
    .header p{
        width: 60%;
        margin: auto;
    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}